*.pyc
*.sdf
*.opensdf
*.suo
*.log
*.tlog
*.obj
*.lastbuildstate
*.unsuccessfulbuild
*.pdb
*.idb
*.ilk
*.user
*.res
*.db
*.aps
*.ib_pdb_index
*.ipch
*.sys
*.exe
*.cat
*.lib
*.cer
*.exp
*.inf
*.bmf
*.dll
*.pri
*.resfiles
*.intermediate
*.idc
*.dat
*.pkl
*.cache
*.htm
*.iobj
*.ipdb
*.opendb
*.bsc
*.sbr
*.dmp
*.etl
.vs/

#auto generated projects only
*/build/msvc*/main/*.vcxproj
*/build/msvc*/main/*_MyProps.props
*/build/msvc*/main/generated_interfaces_*.sln
*/include/interfaces/*
*/bin/*
